extends layout

block content
    link(rel='stylesheet', href='/stylesheets/problems.css')
    include nav
    div.col-md-9
        h3(style='position: relative;text-align: center')
            - if (doc && doc.title)
                | #{doc.title}
        center
            | 时间限制: 1 Second(s)
            br
            | 内存限制: 256 MegaByte(s)
        h3 题目描述&nbsp;&nbsp;
            small Description
        hr
        div.cont
            span.markdown-text
                - if (doc && doc.description)
                    | !{md(doc.description)}
        h3 输入要求&nbsp;&nbsp;
            small Input
        hr
        div.cont
            span.markdown-text
                - if (doc && doc.input)
                    | !{md(doc.input)}
        h3 输出要求&nbsp;&nbsp;
            small Output
        hr
        div.cont
            span.markdown-text
                - if (doc && doc.output)
                    | !{md(doc.output)}
        h3 样例输入&nbsp;&nbsp;
            small Sample Input
        hr
        div.cont
            pre
                - if (doc && doc.sampleInput)
                    | #{doc.sampleInput}
        h3 样例输出&nbsp;&nbsp;
            small Sample Output
        hr
        div.cont
            pre
                - if (doc && doc.sampleOutput)
                    | #{doc.sampleOutput}
    div.col-md-3
        .panel.panel-info
            .panel-heading
                | 题目信息
            .panel-body
                | 提交次数:&nbsp;&nbsp;
                - if (doc && doc.all)
                    - var all = doc.all;
                    | #{doc.all}
                - else
                    | 0
                br
                | 通过次数:&nbsp;&nbsp;
                - if (doc && doc.ac)
                    - var ac = doc.ac;
                    | #{doc.ac}
                - else
                    | 0
                br
                | 通过比率:&nbsp;&nbsp;
                - if (ac && all)
                    | #{Math.round(ac * 10000 / all) / 100}%
                - else
                    | 0%
                br
                br
                a.btn.btn-primary.btn-large(href!='/submit/' + problemId) 提交
                a.btn.btn-success.btn-large(href!='/status/' + problemId) 查看统计信息
            .panel-footer
                div(style='position: relative; text-align: right') 本题由CodeBursts!提供

